body { background: #62e19c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 17px; display: flex; }
.block-metrics-0 { color: #9dc9e1; font-size: 14px; margin-bottom: 5px; }
.block-cache-1 { color: #70c4c6; font-size: 14px; margin-bottom: 5px; }
.block-uploader-2 { color: #8465a9; font-size: 19px; margin-bottom: 5px; }
.block-shipping-3 { color: #76a7d7; font-size: 14px; margin-bottom: 5px; }
.block-helper-4 { color: #93977f; font-size: 15px; margin-bottom: 5px; }
.block-cluster-5 { color: #804b94; font-size: 18px; margin-bottom: 5px; }
.block-cluster-6 { color: #1f23d2; font-size: 14px; margin-bottom: 5px; }
.block-cache-7 { color: #1e9a05; font-size: 15px; margin-bottom: 5px; }
.block-logger-8 { color: #4fa664; font-size: 19px; margin-bottom: 5px; }